<html>
<head>
    <meta charset="utf-8">
    <title>Run Mapper</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map-canvas {
            height: 100%;
        }
    </style>

    <!-- JS -->
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTML74DBnSbEOJSnThtpcF-F188TTd3DA&sensor=true">
    </script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/client/js/bowtie.js"></script> -->

    <script type="text/javascript">

        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }

        function initialize() {
            var mapOptions = {
                zoom: 0,
                center: new google.maps.LatLng(0, -180),
                mapTypeId: google.maps.MapTypeId.SATELITE
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            var bounds = new google.maps.LatLngBounds();

            $.getJSON("/gps/{{ session_key }}/{{ exec_id }}", function(data) {
                run_coords = new Array()

                var max_speed = 0;
                var min_speed = null;
                for (var i = 0; i < data.length - 1; i++) {
                    var avg_speed = (data[i].speed + data[i + 1].speed) / 2;

                    if (avg_speed > max_speed) {
                        max_speed = avg_speed;
                    }

                    if (min_speed == null || avg_speed < min_speed) {
                        min_speed = avg_speed;
                    }
                }

                for (var i = 0; i < data.length - 1; i++) {
                    run_coords.push(
                        new google.maps.LatLng(data[i].latitude, data[i].longitude)
                    );

                    delta_speed = (data[i + 1].speed + data[i].speed) / 2 + 5;

                    var run_path = new google.maps.Polyline({
                        path: [
                            new google.maps.LatLng(data[i].latitude, data[i].longitude),
                            new google.maps.LatLng(data[i + 1].latitude, data[i + 1].longitude)
                        ],
                        geodesic: true,
                        strokeColor: rgbToHex(
                            219 * delta_speed / (max_speed - min_speed),
                            50 * delta_speed / (max_speed - min_speed),
                            0 * delta_speed / (max_speed - min_speed)
                        ),
                        strokeOpacity: 1.0,
                        strokeWeight: 4
                    });

                    run_path.setMap(map);

                    bounds.extend(run_coords[i]);
                }

                map.fitBounds(bounds);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
    <!-- Modal -->
    <div class="modal" id="startModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Track Nodes</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" border="0">
                        <tr>
                            <td class="lead">Session Key</td>
                            <td>
                                <input type="text" id="session_key">
                            </td>
                        </tr>
                        <tr>
                            <td class="lead">Execise Id</td>
                            <td>
                                <input type="text" id="exec_id">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button onClick="initialize()" class="btn btn-primary">Start</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="map-canvas"></div>
</body>
</html>
